body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.user-cont {
  height: 100vh;
  width: 20%;
  background-color: #306867;
  flex-direction: column;
}
.content {
  overflow-y: auto;
  flex-direction: column;
  height: 100vh;
  width: 80%;
}
.acc-info {
  text-align: center;
  color: black;
  font-size: 1.2vw;
}
.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 20px 0;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px;
  font-size: 1.2vw;
  background-color: #3b7a79;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav ul li a:hover {
  background-color: #429c9a;
}
section {
  height: 100vh; /* Ensure each section takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styling each section */
.announcement {
  background-color: #f3f3f3;
}
.records {
  background-color: #e1e1e1;
}
.booking {
  background-color: #d1d1d1;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
}

.admin-dashboard {
  width: 95%;
  margin-bottom: 400px;
  padding: 20px;
  background-color: #89d5e8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header Section -- kabuoan to nung rectangle na may "announcement"*/
.header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  
}

.logo {
  display: flex;
  align-items: center;
  mix-blend-mode: multiply;
}

.logo img {
  width: 50px;
  height: 50px;
}

.vetcross-name {
  font-size: 24px;
  font-weight: bold;
  color: #004d40;
  margin-left: 10px;
}

.announcement {
  font-size: 25px;
  font-weight: bold;
  mix-blend-mode: multiply;
  padding-left: 550px;
}

.book-now {
  padding: 10px 20px;
  background-color: #00bfa5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 45px;
  margin-right: 15px;
}

.book-now:hover {
  background-color: #008c7a;
}



/* Status Section */
.status-section {
  margin-top: -100px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.status-section h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.status-table {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.status-table td {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
}
